lightning-card{
    height: 750px;
    width: 500px;
    }     

lightning-carousel{
    height:400px;
    width: 300px;
}

lightning-carousel-image{
    height:80%;
}

.profile{
    width: 35%;
    margin-bottom: 3%;
}

.profilePic{
    width: 200px;
    margin-bottom: 2%;
}
.background {
    background-color: #D2EAEC;
    padding: 3% 3% 3% 3%;
}

p {
    font-size: 40px;
    color: white;
    font-weight: bold;
}

.inside p {
    font-size: 16px;
    color: black;
}