.search {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    
    justify-content: flex-start; /* Ensures content stays at the top */
    padding-top: 20px; /* Adds space from the top */

}

.search lightning-input {
    max-width: 500px;
}

.class {
    min-width: 500px;
    max-width: 500px;
}

.holder {
    height: 50vh;
}