:host {
    display: block;
    min-height: 100vh; /* Ensures it takes full screen height */
    width: 100%; /* Full width */
    overflow: auto; /* Allows scrolling */
    background-color: #D2EAEC;
}

.buttonPanel{
    padding-top: 3%;
    padding-left: 1%;
    background-color: #D2EAEC;
}

.button{
    background-color: #00BBD0;
    height: 100%;
}

.allListings {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 1500px;
    height: 2000px;
    /* align-items: center;
}

.holder {
    /* height: 100vh; */
    background-color: #D2EAEC;
}

.filterPane {
    background-color: #C6D4DA;
    padding: 5%;
}

.listings {
    display: flex;
    flex-direction: column;
    width: 1500px;
    height: 2000px;
}

.pane {
    background-color: #00BBD0;
    display: flex;
    justify-content: space-between; 
    align-items: center;  
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  
  .propertyTitle {
    /* You can add custom styles if needed, e.g.: */
    font-family: -apple-system, BlinkMacSystemFont;
    font-size: 3em;
    color: white;
    margin-left: 2%;
    font-weight: bold;
  }
  
  .pane2 {
    display: flex;
    justify-content: flex-end;  /* Align content to the right */
    align-items: center;
    /* Optionally, if you want pane2 to match the parent's height, use: */
    height: 100%;
  }

.sort {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #38CDDD;
    margin-left: auto;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 15px;
    border: 2px solid white;
    border-radius: 10px;
    color: white !important;
}

.card {
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.card-hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-hover:hover {
    transform: translateY(-5px); /* Moves card up */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3); /* Stronger shadow */
}

.custom-label {
    color: white;
    font-size: 20px;
    font-weight: bold;
}