:host {
    display: block;
    min-height: 100vh; /* Ensures it takes full screen height */
    width: 100%; /* Full width */
    overflow: auto; /* Allows scrolling */
}

.img {
    padding: 2% 2% 2% 2%;
    margin: 2% 2% 2% 2%;
}

.buttonPanel{
    margin-left: 3%;
    margin-top: 1%;
}

.button{
    background-color: #00BBD0;
    color: white;
}

.allListings {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width:100%;
    /* align-items: center; */
}

.holder {
    height: 100vh;
}

.filterPane {
    background-color: #C6D4DA;
    padding: 5%;
}

.listings {
    display: flex;
    flex-direction: column;
}

.pane {
    background-color: #00BBD0;
    display: flex;
    justify-items: flex-end;
    
}

.sort {
    background-color: #38CDDD;
    margin-left: auto;
    color: white;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
}