.featuredListings {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center horizontally */
    padding-top: 2%;
    margin-bottom: 3%;
    /* height: 600px;
    width: 600px; */
     
}

    lightning-card{
    height: 500px;
    width: 400px;
    }     

    lightning-carousel-image{
        height:80%;
    }
    
/* lightning-carousel{
    height:600px;
    width: 500px;
} */



/* lightning-card {
    max-width: 1000px;
    max-height: 1000px;
    min-width: 1000px;
    min-height: 1000px;
}

lightning-carousel {
    max-width: 1000px;
    max-height: 1000px;
    min-width: 1000px;
    min-height: 1000px;
    overflow: hidden;
    object-fit: cover;
}

lightning-carousel-image {
    max-width: 400px;
    max-height: 400px;
    min-width: 400px;
    min-height: 400px;
    overflow: hidden;
    object-fit: cover;
} */